
# Created by https://www.toptal.com/developers/gitignore/api/macos,dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,dotenv

### log ###
log.txt
### dotenv ###
.env
### macOS ###
# General
__pycache__/
.DS_Store
.AppleDouble
.LSOverride

.pyc
nuhup.out
# Icon must end with two \r
Icon

run.py
appConfig/firebaseConfig
# Thumbnails
._*
.png
.jpg
.jpeg

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/macos,dotenv
